<div class="dashboard"></div>
<nav id="breadcrumbs" class="navbar navbar-expand-lg">
    <div class="container-fluid navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
        id="divMarginDifference">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto breadcrumbs">
                <li class="nav-item ">
                    <a class="nav-link disabledA" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link disabledA">/</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabledA colorGrey">Dashboard</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                {{#if userInSession}}
                <li class="nav-item ">
                    <a class="nav-link disabledA">Welcome <strong>{{userInSession.username}}</strong></a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>

{{#if userInSession}}
<h1 class="dashboardTittle">Crypto <u>watchlist</u> <img src="/images/watchlist.png" style="width:50px"></img></h1>
{{#if message}}
<!-- MODAL -->
<div class="modal show" id="modalExampleDashboard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContentRemoveCr">
            <div class="modal-header modalHeaderBlack">
                <h5 class="modal-title" id="exampleModalLabel"><img src="/images/favicon.png"
                        style="width:20px; height:20px"></img></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:#f00">&times;</span>
                </button>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" style="color: rgb(182, 3, 3) !important;"><strong>{{message.type}}</strong></h5>

            </div>
            <div class="modal-body">
                {{message.message}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{/if}}
<!-- MODAL -->
<div id="divTodo">
    <h3>TO<span style="font-size:20px">-</span>DO list</h3>
    {{#each userInSession.comments}}
    <ul style="margin: 2px">
        <li style="list-style-type:none; ">
            <form action="/delete-comment" method="POST">
                <input type="hidden" value="{{comments}}" class="todoInputs" />
                <input type="hidden" name="id" value={{_id}} />
                <button type="submit" class="close">
                    <span aria-hidden="true" style="color:#f00">&times;</span>
                </button>

            </form>
            <form action="/update-comment" method="POST">
                <input value="{{comments}}" class="todoInputs" name="comments" />
                <input type="hidden" name="id" value={{_id}} />
                <button type="submit" class="close">
                    <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:blue"></i>
                </button>
            </form>
        </li>
    </ul>
    {{/each}}
</div>
<table class="table table-striped" id="favoriteCoinsTable">
    <thead class="theaddarkHeader">
        <tr>
            <th scope="col">Crypto</th>
            <th scope="col">Symbol</th>
            <th scope="col">Price in USD</th>
            <th scope="col">% 24h</th>
            <th scope="col">% 1d</th>
            <th scope="col">% 7d</th>
            <th scope="col">Rank</th>

        </tr>
    </thead>
    <tbody>
        {{#each userInSession.cryptocurrency}}
        <tr>
            <th scope="row">{{name}}</th>
            <td>{{symbol}}</td>
            <td style="color:green">$ {{price_usd}}</td>
            <td data-monetary-amount={{percent_change_24h}} style="color:green">{{percent_change_24h}}</td>
            <td data-monetary-amount={{percent_change_1h}} style="color:green">{{percent_change_1h}}</td>
            <td data-monetary-amount={{percent_change_7d}} style="color:green">{{percent_change_7d}}</td>
            <td>{{apiID}}</td>
        </tr>

        <tr>
            <td colspan="1"><a href="https://www.binance.com/es/trade/{{symbol}}_BUSD" class="clearA" target="_blank">
                    <img src="/images/binance.png" alt="Binance logo" class="imageButtonBin" style="margin-top:8px">
                </a>
            </td>
            <td colspan="1"><a href="https://www.coinbase.com/es/price/{{name}}" class="clearA" target="_blank">
                    <img src="/images/coinbase.png" alt="Coinbase logo" class="imageButtonBin" style="height: 23px;">
                </a>
            </td>
            <td colspan="4" class="text-right">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    style="margin-right: 30px;">
                    Add a note
                </button>
            </td>
            <td>
                <form action="/delete" method="POST">
                    <input type="hidden" name="id" value={{_id}}>
                    <button type="submit" class="btn btn-danger">Remove</button>
                </form>
            </td>
        </tr>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header modalHeaderBlack">
                        <h5 class="modal-title" id="exampleModalLabel"><img src="/images/favicon.png"
                                style="width:20px; height:20px"></img></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color:#f00">&times;</span>
                        </button>
                    </div>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="color: rgb(182, 3, 3) !important;">Add a
                            note</h5>
                    </div>
                    <div class="modal-body">
                        <form action="/add-comment" id="usrform{{_id}}" method="POST">
                            <textarea name="comments" form="usrform{{_id}}" placeholder="Add a note..."
                                class="form-control" rows="3"></textarea>
                            <input type="hidden" name="idcrypto" value={{_id}}>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Save changes</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        {{/each}}
        {{!-- {{/each}} --}}
        {{!-- <input type="hidden" name="iduser" value={{ userInSession.id }}> --}}

    </tbody>
</table>
<!-- TABLA CRYPTOS FAVORITAS -->
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}
<script src="https://khaalipaper.com/js/jquery-3.2.1.min.js"></script>
<script src="bootstrap.min.js"></script>
<script type="text/javascript">
    $(window).on('load', function () {
        $('#modalExampleDashboard').modal('show');
    });
</script>