<div class="dashboard"></div>
{{#if userInSession}}

<h2>Welcome, {{ userInSession.username }}!</h2>
<p>This is your dashboard page my friend!</p>
{{!-- <button>
    <a href="/dashboard">Reload the page</a>
</button> --}}
{{!-- <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
</form> --}}
{{!-- <h1>{{ userInSession._id }}</h1>
<h1>{{ userInSession.cryptocurrency }}</h1> --}}
<!-- TABLA CRYPTOS FAVORITAS -->

<!-- BINANCE -->
<!-- https://www.binance.com/es/trade/ADA_BNB -->
{{!-- https://www.coinbase.com/es/price/bitcoin --}}
<h3>List of your favorite cryptocurrencies</h3>
<table class="table table-dark" id="favoriteCoinsTable">
    <thead>
        <tr>
            <th scope="col">Crypto</th>
            <th scope="col">Symbol</th>
            <th scope="col">Price in USD</th>
            <th scope="col">% 24h</th>
            <th scope="col">% 1d</th>
            <th scope="col">% 7d</th>
            <th scope="col">Rank</th>
            <th scope="col">Remove from fav.</th>
        </tr>
    </thead>
    <tbody>
        {{#each userInSession.cryptocurrency}}
        <tr>
            <th scope="row">{{name}}</th>
            <td>{{symbol}}</td>
            <td>{{price_usd}} $</td>
            <td>{{percent_change_24h}}</td>
            <td>{{percent_change_1h}}</td>
            <td>{{percent_change_7d}}</td>
            <td>{{apiID}}</td>
            <td>
                <form action="/delete" method="POST">
                    <input type="hidden" name="id" value={{_id}}>
                    <button type="submit" class="btn btn-danger btn-block">Remove</button>
                </form>
            </td>
        </tr>

        <tr>
            <td><a href="https://www.binance.com/es/trade/{{symbol}}_BUSD" class="clearA" target="_blank">
                    <buton class="btn btn-success btn-block">Buy on binance</buton>
                </a>
            </td>
            <td><a href="https://www.coinbase.com/es/price/{{name}}" class="clearA" target="_blank">
                    <buton class="btn btn-success btn-block">Buy on coinbase</buton>
                </a>
            </td>
        </tr>

        {{/each}}
    </tbody>
</table>
<!-- TABLA CRYPTOS FAVORITAS -->
{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}
{{!-- <a href="/"><button class="btn btn-dark">Home</button></a> --}}
</div>