<div class='container'>
  <h1>Cryptocurrency list</h1>

  {{!-- {{#each coins.data}}
  <h1>{{name}}</h1> --}}
  <!-- Extra large modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Top 10 crypto
    chart</button>

  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <a href="#" id="downloadPdf">Download Report Page as PDF</a>
        <canvas id="myChartTwo" width='400px' height='400px'></canvas>
      </div>
    </div>
  </div>
  <!-- Extra large modal -->

  <!-- Table coins content -->
  <input type="text" id="myInput" onkeyup="searchCrypto()" placeholder="Search crypto by name..">
  <table class="table" id="table" class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Currency</th>
        <th scope="col">Symbol</th>
        <th scope="col">Price $</th>
        <th scope="col">% 24h</th>
        <th scope="col">% 1d</th>
        <th scope="col">% 7d</th>
        <th scope="col">Favorite</th>
        {{!-- <th scope="col">Remove</th> --}}
      </tr>
    </thead>
    <tbody>
      {{!-- if ispositive stylecolorgreen else stylecolorred --}}
      {{#each coins.data}}
      <tr class="toHideRow">
        <form action="/add-favorite" method="POST">
          <td><a href="/cryptocurrency/coin/detalle">{{name}}</a></td>
          <td>{{symbol}}</td>
          <td>{{price_usd}} $</td>
          <td>{{percent_change_24h}}</td>
          <td>{{percent_change_1h}}</td>
          <td>{{percent_change_7d}}</td>
          <input type="hidden" name="apiID" value={{id}}>
          <input type="hidden" name="name" value={{name}}>
          <input type="hidden" name="symbol" value={{symbol}}>
          <input type="hidden" name="price_usd" value={{price_usd}}>
          <input type="hidden" name="percent_change_24h" value={{percent_change_24h}}>
          <input type="hidden" name="percent_change_1h" value={{percent_change_1h}}>
          <input type="hidden" name="percent_change_7d" value={{percent_change_7d}}>
          <td><button type="submit">Add to fav</button></td>
          {{!-- <td><button>Remove</button></td> --}}
        </form>
      </tr>
      {{/each}}

    </tbody>
  </table>

  <a href="/cryptocurrency/{{start}}"><button class="btn btn-light">View 100 more</button></a>
  <!-- Table coins content -->
</div>