<div class='container'>
  <nav id="breadcrumbs" class="navbar navbar-expand-lg">
    <div class="container-fluid navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
      id="divMarginDifference">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto breadcrumbs">
          <li class="nav-item ">
            <a class="nav-link disabledA" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link disabledA">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabledA colorGrey">Crypto</a>
          </li>
        </ul>
      </div>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          {{#if userInSession}}
          <li class="nav-item ">
            <a class="nav-link disabledA">Welcome <strong>{{userInSession.username}}</strong></a>
          </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  <div class="currencyDivList">
    <h1>Cryptocurrency list</h1>

    {{!-- {{#each coins.data}}
    <h1>{{name}}</h1> --}}
    <!-- Extra large modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Top 10 crypto
      chart</button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <canvas id="myChartTwo" width='400px' height='400px'></canvas>
          <select name="chartTwo" id="typeChart" class="form-select">
            <option selected disabled>Select type chart</option>
            <option value="bar">Bar</option>
            <option value="line">Line</option>
            <option value="radar">Radar</option>
            <option value="doughnut">Doughnut</option>
            <option value="pie">Pie</option>
          </select>
          <a href="#" id="downloadPdf" class="clearA marginRight10" style="text-decoration: none; margin-top:10px">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="28" fill="currentColor" class="bi bi-download"
              viewBox="0 0 16 16">
              <path
                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
              <path
                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <!-- Extra large modal -->
    <a href="/cryptocurrency/{{start}}"><button class="btn btn-primary">View 100 more</button></a>
    <!-- Table coins content -->
    <input type="text" id="myInput" onkeyup="searchCrypto()" placeholder="Search crypto...">
  </div>
  <table class="table" id="tableListCurrency" class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Currency</th>
        <th scope="col">Symbol</th>
        <th scope="col">Price $</th>
        <th scope="col">% 24h</th>
        <th scope="col">% 1d</th>
        <th scope="col">% 7d</th>
        <th scope="col">Favorite</th>
        {{!-- <th scope="col">Remove</th> --}}
      </tr>
    </thead>
    <tbody>
      {{!-- if ispositive stylecolorgreen else stylecolorred --}}
      {{#each coins.data}}
      <tr>
        <form action="/add-favorite" method="POST">
          <td><a href="/cryptocurrency/coin/detalle">{{name}}</a></td>
          <td>{{symbol}}</td>
          <td>$ {{price_usd}}</td>
          <td>{{percent_change_24h}}</td>
          <td>{{percent_change_1h}}</td>
          <td>{{percent_change_7d}}</td>
          <input type="hidden" name="apiID" value={{id}}>
          <input type="hidden" name="name" value={{name}}>
          <input type="hidden" name="symbol" value={{symbol}}>
          <input type="hidden" name="price_usd" value={{price_usd}}>
          <input type="hidden" name="percent_change_24h" value={{percent_change_24h}}>
          <input type="hidden" name="percent_change_1h" value={{percent_change_1h}}>
          <input type="hidden" name="percent_change_7d" value={{percent_change_7d}}>
          <td><button type="submit" class="btn btn-success btn-block">Add to fav</button></td>
          {{!-- <td><button>Remove</button></td> --}}
        </form>
      </tr>
      {{/each}}

    </tbody>
  </table>


  <!-- Table coins content -->
</div>
<script src="/js/financial-data-api.js"></script>